Source: opensight
Maintainer: Steven Spangler <132@ikl.sh>

Package: opensight
Depends: python3-aiofiles, python3-fastapi, python3-requests, python3-uvicorn
Architecture: any
Description: OpenSight central manager
