[Unit]
Description=Starts OpenSight

[Service]
ExecStart=/usr/bin/opensight -n /boot/opensight/
KillMode=process

[Install]
WantedBy=multi-user.target
