[Unit]
Description=OpenSight

[Service]
ExecStart=/usr/bin/opensight -n /boot/opensight/
KillMode=process
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
