#!/usr/bin/make -f

DISTRIBUTION = buster
VERSION = 0.0.9
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = opensight-$(VERSION).tar.gz
URL = https://github.com/opensight-cv/opensight

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_debian/tmp/build:
override_dh_auto_install:
	git clone $(URL) debian/tmp/build/
	mkdir -p debian/opensight/usr/lib/python3/dist-packages/
	mkdir -p debian/opensight/usr/bin/
	cp -r debian/tmp/build/opsi/ debian/opensight/usr/lib/python3/dist-packages/
	cp debian/tmp/build/opensight.py debian/opensight/usr/bin/opensight
	chmod +x debian/opensight/usr/bin/opensight
override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
